# Comandos para habilitar ICMP (ping) se necessário
# sudo chmod u+s /usr/bin/ping
# sudo setcap cap_net_raw+ep /path/para/seu/python

# URL de conexão com o banco de dados
DATABASE_URL = 'mysql+pymysql://user_name:user_password@db_ip:db_port/database'